:host {
  display: block;
}

.dark {
  /* background-color: #242424; */
  /* background-color: #17313b; */
  color: white;
}

.white {
  /* background-color: #f0f0f0; */

  font-weight: bolder;
  /* background-color: #f6f6f6; */
  color: black;
}

.left {
  display: flex;
  flex-direction: row-reverse;
}

.right {
  display: flex;
}

.container {
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;

  display: flex;
  flex-direction: column;

  min-height: max-content;
  height: 70vh;

  position: relative;
}

.backdrop {
  background-color: #feeae3;
  height: 100%;
  width: 17%;
  position: absolute;
  right: 0px;
  z-index: -1;
}

.container .description-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.container .description-container .text-description {
  width: 50%;
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  line-height: 2.1rem;
  padding-top: 6%;
}
.container .description-container .text-description .title {
  font-size: 1.502rem;
}

.container .description-container .text-description .description {
  font-size: 1.02rem;
  font-weight: lighter;
}

.container .description-container .text-description div {
  width: 70%;
}

.container .description-container .image-container {
  height: 70%;
  width: 47%;
  background-color: #ffbd54;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 50px;
}

.container .description-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 
    Screen Resolutions Fix
    default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px), (max-width: 1200px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .container {
    font-size: 0.85rem;

    display: flex;
    flex-direction: column;

    /* min-height: max-content; */
    height: fit-content;

    position: relative;
  }

  .backdrop {
    background-color: #feeae3;
    height: 50%;
    width: 100%;
    position: absolute;
    right: 0px;
    z-index: -1;
  }

  .container .description-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .container .description-container .image-container {
    height: 200px;
    width: 95%;
    background-color: #ffbd54;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 50px;
  }

  .container .description-container .text-description {
    width: 100%;
    height: fit-content;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    line-height: 2.1rem;
    padding-top: 6%;
  }

  .container .description-container .text-description div {
    width: 80%;
  }
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */

  /* :host{
              display: none;
          } */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}

.anim-slide-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.anim-slide-left {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: slide-in-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.anim-pan-in {
  transform-origin: 50% 50%;
  -webkit-animation: pan-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: pan-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    /* opacity: 0 */
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* opacity: 1 */
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    /* opacity: 0 */
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* opacity: 1 */
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* opacity: 0 */
  }

  to {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    /* opacity: 1 */
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(0p);
    transform: translateX(0);
    /* opacity: 0 */
  }

  to {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    /* opacity: 1 */
  }
}

/* Pan In Animation */

@keyframes pan-in {
  0% {
    /* opacity: 0 */
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pan-in {
  0% {
    /* opacity: 0 */
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1.5);
    /* transform: scale(3); */
  }
}
