#dark {
  color: rgb(0, 0, 0);
}

#white {
  color: white;
}
:host {
  display: block;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  display: flex;
  color: white;
  line-height: 1.5rem;
}

.container .side-page {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container .side-page .left-head-title {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 20%;
  font-family: "Josefin Sans", "Times New Roman";
}

.container .side-page .left-head-description {
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 20%;
  width: 50%;
}
.container .side-page .left-head-description .title {
  font-size: 2.2rem;
  font-family: "Josefin Sans", "Times New Roman";
  margin-bottom: 10%;
}

.container .side-page .left-head-description .description {
  font-size: 0.991rem;
  font-family: "Josefin Sans", "Times New Roman";
  color: rgba(240, 248, 255, 0.794);
}
.container .side-page:last-child {
  background-color: white;
}

.container .sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1e1e1e;
}

.container .sign-in .sign-im-container {
  width: 45%;
  /* background-color: #1e1e1e17; */
}

.container .sign-in .sign-im-container div:first-child {
  font-size: 2.2rem;
  font-family: "Josefin Sans", "Times New Roman";
  /* background-color: #b6151517; */
  margin-bottom: 10px;
}

.container .sign-in .sign-im-container div:nth-child(2) {
  font-size: 0.99rem;
  font-family: "Josefin Sans", "Times New Roman";
  /* background-color: #b6151517; */
}

.container .sign-in .sign-im-container div:nth-child(3) {
  font-size: 1.29rem;
  font-family: "Josefin Sans", "Times New Roman";
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: #b6151517; */
}

/* 
    Screen Resolutions Fix
    default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .container .side-page:last-child {
    width: 100%;
  }

  .container .sign-in .sign-im-container {
    width: 80%;
  }
  .container .side-page:first-child {
    display: none;
  }
}

/* Reaches max zoom**/
@media (max-width: 1200px) {
  :host {
    display: block;
    min-height: 100%;
  }
  .container .side-page:last-child {
    width: 100%;
  }

  .container .sign-in .sign-im-container {
    width: 80%;
  }
  .container .side-page:first-child {
    display: none;
  }
}
